.page.admin {
    min-height: 100vh;
    padding: 1dvh 0 0 1dvh;
    display: flex;
    flex-direction: column;
}

header.admin {
    display: flex;
    flex-direction: row;
    gap: 0.25rem
}

.actions-buttons {
    margin: auto 2rem auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.quit-button {
    color: #1677ff;
}

.quit-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.services.admin {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
}