html, body {
    margin: 0;
    background: linear-gradient(#ededed 30%, #c5c5c5 100%);
}

@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

.page {
    min-height: 100vh;
}

.title, .title a {
    color: black;
    text-decoration: none;
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

p, input, h2 {
    font-family: "Inter", sans-serif;
}