html, body {
    margin: 0;
    background: linear-gradient(#ededed 30%, #c5c5c5 100%);
}

@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

.page {
    min-height: 100vh;
}

.title, .title a {
    color: black;
    text-decoration: none;
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

p, input, h2, label {
    font-family: "Inter", sans-serif;
}

.button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 3rem;
    transition: background-color 0.25s ease, color 0.25s ease;
    font-size: 0.9rem;
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.button.disabled {
    background-color: #3a3a3a;
}

.button.disabled:hover {
    background-color: #3a3a3a;
    color: white;
    cursor: default;
}